

h1{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
table{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

th,td{
    border: black 3px solid;
    text-align: center;
    background-color: #FF9A5C;
}

input{
    border: none;
    height: 50px;
    font-size: 20px;
    text-align: center;
}

.boton{
    display: flex;
    justify-content: center;
    align-items: center;
}

